<div class="container col-lg-6">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">dTS</h1>
            <h3 class="mb-5">
                <em>A software for antitracking system ! </em>
            </h3>
            <button style="margin-top:5px;" type="button" (click)="handleLogin()" class="btn btn-info btn-sm">Login</button>
            <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#" (click)="login()">Login</a> -->
        </div>
        <div class="overlay"></div>
    </header>