<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center" id="main">
            <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">403</h1>
            <div class="inline-block align-middle">
                <h2 class="font-weight-normal lead" id="desc">
                    <!-- <fa name="cog" animation="spin"></fa> -->
                    page you requested was not found.
                </h2>
            </div>
        </div>
    </div>
</div>