<div class="container col-lg-6">
    <h3 class="text-left">Login</h3>
    <div class="card">
        <div class="card-body">
            <form class="form-group">
                <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
                <div class="form-group">
                    <label for="email">User Name :</label>
                    <input type="text" autocomplete="off" class="form-control" id="username" [(ngModel)]="employee.userName" placeholder="Enter User Name" name="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" autocomplete="off" class="form-control" [(ngModel)]="employee.password" id="password" placeholder="Enter password" name="password">
                </div>
                <button (click)=handleLogin() class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</div>